
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: start;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: space-between;
    gap: 20px;
}

.preview {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.titlePreview {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
.titlePreview h1 {
    font-size: 40px;
}

.exampleImage {

    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 40px /80px;
}
.noUrl {
    color:#646cff;
    font-weight: bold;
}
.picAndVidButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.pictureButton {
    font-size: 18px;
    font-weight: 500;
    color: #646cff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35%;
    align-items: start;
}
.form h2 {
    font-size: small;
    color: #9b96ab9a;
    
}
.inputField,
.dateField {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #cccccc9a;
    background: transparent;
    outline: none;
    margin-bottom: 10%;
}
.dateField {
    color: #9b96ab62;
}

.inputField:focus,
.dateField:focus {
    border-bottom: 2px solid #646cff;
}

.cancelButton {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    height: 45px;
    background-color: white;
    color: red;
    border-radius: 8px;
    border: 2px solid red;
}
.submitButton {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    height: 45px;
    background-color: white;
    color: #646cff;
    border-radius: 8px;
    border: 2px solid ;
}

.cardButtons {
    gap: 20px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cancelButton:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 0px 15px 40px -5px rgba(255, 0, 0, 0.25);
}
.submitButton:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 0px 15px 40px -5px #646cff;
}
.navbar {
    margin-bottom: 50px;
}
@media (max-width: 1024px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
    }

    .preview {
        width: 100%;
        padding: 20px;
    }

    .form {
        width: 90%;
        align-items: center;
    }

    .inputField,
    .dateField {
        width: 100%;
    }
    .exampleImage {
        margin-top: 350px;
    }
}
@media (max-width: 450px) {
    .exampleImage {
        margin-top: 100px;
    }
}